@use "scss/abstracts/variables" as *;

.keyboard {
  width: 729px;
  max-width: 100%;
  height: 242px;
  padding: 14px;
  background-color: $color-keyboard;
}

.keyboard__row {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: none;
  }
}
