@use "sass:math";
@use "scss/abstracts/variables" as *;

.key {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 40px;
  height: 40px;
  padding: 2px 5px 8px;
  background:
    url("images/bg/key-edge-top-left.svg") top left no-repeat,
    url("images/bg/key-edge-top-right.svg") top right no-repeat,
    url("images/bg/key-edge-bottom-left.svg") bottom left no-repeat,
    url("images/bg/key-edge-bottom-right.svg") bottom right no-repeat,
    $color-key-base;
  border: none;
  border-radius: 4px;
  transition-duration: 0.1s;
  transition-property: transform, box-shadow;

  &--tab,
  &--backspace,
  &--enter,
  &--shift {
    flex-grow: 1;
  }

  &--capslock {
    width: 74px;
  }

  &--shift:first-child {
    flex-grow: 0;
    width: 94px;
  }

  &--space {
    flex-basis: 40%;
  }

  &:active {
    box-shadow: 0 0.2px 2px rgb(0 0 0 / 60%);
    transform: translateY(1px);
  }
}

.key__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 3px 5px;
  background: $color-key-top;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px rgb(255 255 255 / 10%), inset 0 0 0 1px rgb(248 248 248 / 32%);
}

.key__text {
  color: $color-key-text;
  font-weight: 500;
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  line-height: 1;

  &--up-case {
    align-self: flex-start;
  }

  &--down-case {
    align-self: flex-end;
  }
}
